<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="max-width: 350px; margin: 0 auto;">
<h1> Hello authenticated user</h1>

Go to the <a th:href="@{/}" >Main Root Page</a>


<br>

PLAY <a th:href="@{/home}" > 2-D TRAVELLER</a>




<div sec:authorize="isAuthenticated()">

User's Name: <span sec:authentication="name"></span>
<br> 
Roles: <span sec:authentication="principal.authorities"></span>
<br>
<br> 

<div>
<form th:action="@{/logout}" method="post">
<input type="submit" value="Logout" />
</form>
</div>
</div> 
</body>
</html>